@import url('https://fonts.googleapis.com/css?family=Hanalei|Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { 
    background: url(assets/img/4k-wallpaper-blur-buildings-1236701.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar-sec {
    padding: 35px;
    background: #00000083;
}
.navbar-element {
    list-style-type: none;
}
.navbar-element >li > a{
    color: rgb(204, 180, 180);
    font-family: Asap, sans-serif;
    text-decoration: none;
    padding-right: 14px;
    font-size: 20px;
    cursor: pointer;
    float: right;
    transition: all 1.2s ease;
}

.navbar-element > li >a:hover {
    color: rgb(255, 255, 255);
    animation: glow 1s ease-in-out infinite alternate;
    transform: scale(1.5);
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e69d00, 0 0 40px #e69d00, 0 0 50px #e69d00, 0 0 60px #e69d00, 0 0 70px #e69d00;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #b38523, 0 0 40px #b38523, 0 0 50px #b38523, 0 0 60px #b38523, 0 0 70px #b38523, 0 0 80px #b38523;
    }
  }

.name-div {
    color: white;
    position: absolute;
    top: 40%;
    left: 20%;
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;
    animation: glow 1s ease-in-out infinite alternate;
}

.parag-div {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 50%;
}
.parag-div >p {
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
}
.active {
    animation: glow 1s ease-in-out infinite alternate;
}

.about {
    top: 120%;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e69d005d;
}

.about-heading {
    position: absolute;
    left: 45%;
    top:110%;
    z-index: 1;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    animation: glow 1s ease-in-out infinite alternate;
    margin: 15px 20px;
    font-size: 48px;
}
.about p {
    position: absolute;
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 25px;
    top: 10%;
    padding: 15px 20px;
}

.projects-heading {
    position: absolute;
    left: 45%;
    top:210%;
    z-index: 1;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    animation: glow 1s ease-in-out infinite alternate;
    margin: 15px 20px;
    font-size: 48px;
}

.projects p{
    position: absolute;
    font-size: 25px;
    top: 220%;
    background: #2b210bb6;
    padding: 15px 20px;
}